.titulos {
  justify-content: center;
  background-color: rgb(5, 228, 228);
  font-family: sans-serif;
}

.imgquienessomos {
  justify-content: center;
  height: 500px;
  width: auto;
}
.imgdfabrica {
  border-radius: 30px;
}

.infoquienessomos p {
  text-align: center;
  background-color: rgb(225, 241, 241);
  border-radius: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
